h1{
    color: blueviolet;
}
#godno{
    color: red;
}
.COMO{
    color: fuchsia;
}
.copy{
    color: crimson;
}
.fa{
    width: 600px;
    height: 50px;
    background-color: blue;
    border-radius: 10px;
}
.fam{
    width: 600px;
    height: 50;
    background-color: gold;
}
.bocayoteamo{
    display: inline-block;
    width: 600px;
    height: 200px;
}
body {
    background-image: url(https://www.kindpng.com/picc/m/341-3410548_smiling-imp-png-download-devil-emoji-discord-transparent.png);
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: 3%;
    background-repeat:repeat;
}
.cuadradogamer{
background-color: #c237db;
width: 200px;
height: 200px;
}